body {
  background-color: rgb(25, 23, 101);
}

h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  }

h2 { 
font-family: 'Roboto', sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 52px;
color: #9490FF;
}
p{
  width: 327px;
  height: 170px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  color: #c8c8d4;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: baseline;
  margin-inline: 2%;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}

.menu {
  width: 35.33px;
  height: 22.83px;
}

.ULWD {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -106px;
  top: 97px;
  background: #edecff;
  filter: blur(50px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.container h1 {  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;

  /* or 150% */

  text-align: center;
  letter-spacing: 0.37px;

  /* Theme 4 / Primary 2 */

  color: #7d73fc;
}

.container #Supporting_text { 
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #edecff;
}

.c2 {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 85%;
  top: 495px;
  background: #edecff;
  filter: blur(50px);
}

.frames {
  display: flex;
  flex-wrap: wrap;
  width: 327px;
  justify-content: flex-start;
  gap: 25%;
}

.frames ul {
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  list-style-type: none;
  /*width: 45%;*/
  padding: 0;
  gap: 4.78px;
}

.framestitle {
  color: #9490ff;
  font-size: 12px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  width: auto;  
  margin-inline: 6%;
  justify-content: center;  
  height: auto;
}

.card-1{
display: flex;
flex-wrap: wrap;
column-gap: 100%;
justify-content: flex-start;
}
.visualize-button {    
  align-self: flex-end;
  width: 95px;
  height: 44px;
  background-color:#7D73FC;  
  color: #EDECFF;
  font-size: 12px;
  font-weight: 600;
  border: none;
  margin-top: 24px;
}
.cards ul{
  display: flex;
  font-size: 15px;  
  align-items: center;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif; 
  list-style: none;
  width: auto;
  height: 40px;
  padding: 0;
  margin: 0;  
  gap: 0;  
}

.cards li{ 
  display: flex;
  justify-content: flex-end;
  height: 30px; 
  padding: 0 18px;
  margin-left: 10px;  
  padding-top: 15px; 
}
.cards ul li:first-child{
  margin-left: 0;
}
.cards li:not(:last-child) {
  border-right: 1px solid #646369;
}